@media (min-width: 0) and (max-width: 767px) {
    body{
        background-color: #fff;
    }

/****************************************** INDEX.HTML **********************************************/


            /* Menu Responsive */
    .navbar-toggle{
        float: left;
        margin-left: 1em;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        color: #777;
        background-color: #f8f8f8;
    }

            /* MENU GUIA RIO */

    .navbar-brand{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.7em;
    }
    .btn-default{
        float: right;
        background-color: yellow;
        margin-bottom: 0.4em;
        margin-top: 0.5em;
        color: black
    }
    .btn-info{
        margin-top: -1.4%;
    }
    .form-control{
        width: 75%;
        float: right;
    }
            /* *************** MAP ************** */
    #map{
        width: 100%;
        height: 31.3em;
        bottom: 1em;
    }
    .controlSearch {
        margin-top: 19%;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
        display: none;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }
    #target {
        width: 345px;
    }
    article h1, h3{
        visibility: hidden;
        display: none;
    }
    
            /* ******* Slide Show (Carousel) ******** */

    /* Slideshow container */
    .slideshow-container {
        max-width: 1px;
        height: 1px;
        bottom: 3em;
        left: 0.5em;
        position: relative;
        margin: auto;
        visibility: hidden;
    }
    .carousel{
        float: right;
        width: 32%;
        height: 1px;
        visibility: hidden;
    }
    div.fade img{
        width: 100%;
        height: 1px;
        visibility: hidden;
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        visibility: hidden;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        height: 1px;
        visibility: hidden;
    }

    /* The dots/bullets/indicators */
    .dot {
        height: 1px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        visibility: hidden;
    }

    .active {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

            /* ******* Menu 2 ******* */
    .Menu2{
        background-color: #333;
        overflow: hidden;
        width: 68%;
        visibility: hidden;
        height: 1px;

    }
    div.Menu2 a{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
        font-size: 17px;
    }
            /* Telefones de Emergência */
    .telEmg{
        visibility: hidden;
        width: 0;
        height: 0;
    }
            /* ******* Menu Footer ******* */
    .footer {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
    }
    .footer a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
        font-size: 17px;
    }
            /* ********** FOOTER ********** */
    footer div.container{
        display: none;
        visibility: hidden;
    }
}
/* ***** BreakPoint CSS ***** */
@media  (min-width: 0)  and (max-width: 374px) {
    .btn-info{
        margin-top: -1.6%;
    }
    #pac-input{
        margin-left: -40%;
    }
    .controlSearch{
        margin-top: 18%
    }
    .form-control{
        width: 70%;
        float: right;
    }
}
@media  (min-width: 375px)  and (max-width: 520px) {
    #pac-input{
        margin-left: -28%;
    }
    .controlSearch{
        margin-top: 15%
    }
    .controls{
        margin-top: 8em
    }
}
@media  (min-width: 521px)  and (max-width: 768px) {
    .controlSearch{
        margin-top: 2%
    }
}